<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-데이터-확인" data-toc-modified-id="1.-데이터-확인-1">1. 데이터 확인</a></span></li><li><span><a href="#2.-데이터-병합" data-toc-modified-id="2.-데이터-병합-2">2. 데이터 병합</a></span></li></ul></div>

# 1. 데이터 확인

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Company Guide 데이터
data = pd.read_csv('./data/FnGuide_PER,PBR.csv')
data.replace('-', np.nan, inplace=True)
data.head()

,회사명,종목코드,업종,업종1,업종2,PER,업종PER,PBR
0,나우코스,257990,기타 화학제품 제조업,KONEX,FICS 개인생활용품,29.21,NaN,6.43
1,에이스캠퍼,322190,자동차 차체 및 트레일러 제조업,KONEX,FICS 기계,NaN,NaN,19.07
2,유안타제7호스팩,367460,금융 지원 서비스업,KOSDAQ 코스닥 금융,FICS 창업투자 및 종금,NaN,22.62,NaN
3,루트락,253610,기타 전문 도매업,KONEX,FICS 의료 장비 및 서비스,NaN,NaN,NaN
4,ESR켄달스퀘어리츠,365550,부동산 임대 및 공급업,KSE 코스피 서비스업,FICS 부동산,NaN,35.79,NaN

In [11]:
data['업종'].value_counts()

특수 목적용 기계 제조업        141
소프트웨어 개발 및 공급업       135
전자부품 제조업             121
자동차 신품 부품 제조업         97
기타 금융업                93
                    ...
기타 비금속광물 광업            1
편조원단 제조업               1
신발 및 신발 부분품 제조업        1
석탄 광업                  1
자동차 차체 및 트레일러 제조업      1
Name: 업종, Length: 158, dtype: int64

In [30]:
len(data[data['PER'].isnull()])

905

In [31]:
len(data[data['PBR'].isnull()])

74

In [32]:
# 네이버금융 데이터
data2 = pd.read_csv('./data/네이버금융_PER,PBR.csv')
data2.head()

          회사명    종목코드                 업종   업종2  업종PER  PER  PBR
0        나우코스  257990        기타 화학제품 제조업   NaN    NaN  NaN  NaN
1       에이스캠퍼  322190  자동차 차체 및 트레일러 제조업   NaN    NaN  NaN  NaN
2    유안타제7호스팩  367460         금융 지원 서비스업  창업투자  20.78  NaN  NaN
3         루트락  253610          기타 전문 도매업   NaN    NaN  NaN  NaN
4  ESR켄달스퀘어리츠  365550       부동산 임대 및 공급업   NaN    NaN  NaN  NaN

In [33]:
data2['업종2'].unique()

array([nan, '창업투자', '기타', '화학', '제약', '생명과학도구및서비스', '소프트웨어', 'IT서비스',
       '반도체와반도체장비', '자동차부품', '생물공학', '전자장비와기기', '컴퓨터와주변기기', '화장품', '전기장비',
       '손해보험', '건강관리장비와용품', '식품', '디스플레이장비및부품', '방송과엔터테인먼트', '기계', '건설',
       '가정용품', '게임엔터테인먼트', '섬유,의류,신발,호화품', '핸드셋', '광고', '우주항공과국방',
       '에너지장비및서비스', '건축자재', '건강관리기술', '통신장비', '교육서비스', '건강관리업체및서비스',
       '해운사', '인터넷과카탈로그소매', '증권', '가구', '양방향미디어와서비스', '가정용기기와용품', '전기제품',
       '식품과기본식료품소매', '비철금속', '포장재', '은행', '호텔,레스토랑,레저', '항공사', '철강',
       '전자제품', '백화점과일반상점', '판매업체', '출판', '가스유틸리티', '석유와가스', '레저용장비와제품',
       '부동산', '조선', '도로와철도운송', '음료', '생명보험', '종이와목재', '복합기업', '기타금융',
       '건축제품', '상업서비스와공급품', '복합유틸리티', '항공화물운송과물류', '전문소매', '디스플레이패널',
       '전기유틸리티', '자동차', '무선통신서비스', '카드', '문구류', '운송인프라', '독립전력생산및에너지거래',
       '무역회사와판매업체', '다각화된통신서비스', '담배', '사무용전자제품'], dtype=object)

In [34]:
len(data2[data2['업종2'].isnull()])

167

In [35]:
len(data2[data2['PER'].isnull()])

1070

# 2. 데이터 병합

네이버금융 데이터의 결측치가 더 많기는 하지만, Company Guide 데이터는 2019년 12월 기준으로 최신성을 반영하지 못함

따라서 **네이버금융 데이터에 Company Guide 데이터를 병합하여 결측치를 보완**해보고자 함

In [42]:
naver_idx = data2[data2['PER'].isnull()].index
fnguide_idx = data[data['PER'].isnull()].index