<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-저평가기업-목록-읽기" data-toc-modified-id="1.-저평가기업-목록-읽기-1">1. 저평가기업 목록 읽기</a></span></li><li><span><a href="#2.-종목코드별-시가총액-스크래핑" data-toc-modified-id="2.-종목코드별-시가총액-스크래핑-2">2. 종목코드별 시가총액 스크래핑</a></span></li></ul></div>

# 1. 저평가기업 목록 읽기

In [1]:
import numpy as np
import pandas as pd

In [26]:
data = pd.read_csv('./data/저평가기업목록.csv', index_col=0)
data.tail()

           회사명  종목코드                    업종           업종2  업종PER    PER   PBR
362       대한제당  1790  곡물가공품, 전분 및 전분제품 제조업            식품  29.07   9.23  0.40
363      삼양홀딩스    70                기타 금융업            식품  29.07  19.26  0.49
364  한국테크놀로지그룹   240                기타 금융업         자동차부품  46.67  18.53  0.61
365      메리츠화재    60                   보험업          손해보험   6.87   4.41  0.61
366         경방    50                종합 소매업  섬유,의류,신발,호화품  33.35   7.49  0.43

종목코드의 앞 자리 0이 모두 사라져 여섯 자리가 아닌 행들이 있으므로, map() 함수를 사용해 이를 보정

In [27]:
data.종목코드 = data.종목코드.map('{:06d}'.format)
data.tail()

           회사명    종목코드                    업종           업종2  업종PER    PER   PBR
362       대한제당  001790  곡물가공품, 전분 및 전분제품 제조업            식품  29.07   9.23  0.40
363      삼양홀딩스  000070                기타 금융업            식품  29.07  19.26  0.49
364  한국테크놀로지그룹  000240                기타 금융업         자동차부품  46.67  18.53  0.61
365      메리츠화재  000060                   보험업          손해보험   6.87   4.41  0.61
366         경방  000050                종합 소매업  섬유,의류,신발,호화품  33.35   7.49  0.43

# 2. 종목코드별 시가총액 스크래핑

- **Company Guide**(https://comp.fnguide.com/SVO2/ASP/SVD_Main.asp?pGB=1&gicode=A종목코드&cID=&MenuYn=Y&ReportGB=&NewMenuID=11&stkGb=701) 사이트에서 **시가총액(보통주, 억원) 수집**

In [30]:
from tqdm import tqdm
from bs4 import BeautifulSoup
import requests

import warnings
warnings.filterwarnings('ignore')

In [32]:
data['시가총액'] = np.nan

for i, code in tqdm(enumerate(data.종목코드)):
    cg_url = f'https://comp.fnguide.com/SVO2/ASP/SVD_Main.asp?pGB=1&gicode=A{code}&cID=&MenuYn=Y&ReportGB=&NewMenuID=11&stkGb=701'
    html = BeautifulSoup(requests.get(cg_url, headers={'User-agent': 'Mozilla/5.0'}).text, 'lxml')
    
    # 시가총액 수집
    table = html.find_all("tr")[4]
    시가총액 = table.find("td", class_="r").text
    
    # data['시가총액'] 값 추가
    data['시가총액'][i] = 시가총액

367it [02:46,  2.21it/s]

In [35]:
data.rename(columns={'시가총액': '시가총액(억)'}, inplace=True)
data.head()

,회사명,종목코드,업종,업종2,업종PER,PER,PBR,시가총액(억)
0,코리아에셋투자증권,190650,기타 금융업,증권,6.53,5.18,0.69,516
1,윙입푸드,900340,기타 금융업,식품,29.07,7.17,0.53,643
2,세아제강,306200,1차 철강 제조업,철강,41.60,9.81,0.45,"2,723"
3,한일시멘트,300720,"시멘트, 석회, 플라스터 및 그 제품 제조업",건축자재,36.34,7.57,0.59,"7,723"
4,그리티,204020,봉제의복 제조업,"섬유,의류,신발,호화품",33.35,27.36,0.77,595

In [36]:
data.to_csv('./data/FnGuide_시가총액.csv', index=False)